.a1 {
  text-align: center;
  color: white;
}
.b1 {
  
margin: 80px;
}

.t1 {

  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  
}
#PC {
  height: 20px;
}
.p1 {
  padding: 5px;
}
.p2 {
  padding: 5px;
}
.p3{
  padding: 5px;

}
.p4{
padding: 5px;
}
.p5 {
  padding: 5px;
}
.b1 {
  padding-top: 20px;
  padding-left: 1%;
  background-color: #ADD8E6;
  margin: 87px 423px;
}
.z1 {
  height: 30px;
  width: 100px;
  margin-bottom: 2%;
}
#fname {
  height: 20px;
  
  
 
}
#phone {
  height: 20px;

}

#hear {
  height: 20px;
  width: 100px;
}
#lname {
  height: 20px;
}

#add {
  height: 20px;

}
.s1 {
  size: 30%;
}


#lname {
  outline: none;
}
